/* 背景图 */
.c_background{
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
}
.c_background_top{
	width: 100%;
	height: 71.6%;
	background-image: url(../images/background/c_background_top.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.c_background_middle{
	width: 100%;
	height: 13.1%;
	background-image: url(../images/background/c_background_middle.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.c_background_botton{
	width: 100%;
	height: 15.3%;
	background-image: url(../images/background/c_background_botton.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
/* 女孩 */
.girl{
	background: url(../images/girl.png) -755px 0 no-repeat;
	position: absolute;
	right: 40%;
	top: 37%;
	width: 151px;
	height: 291px;
}
.girl-rotate{
	-webkit-animation-name: girl-rotate;
	-o-animation-name: girl-rotate;
	animation-name: girl-rotate;
	-webkit-animation-duration: 850ms;
	-o-animation-duration: 850ms;
	animation-duration: 850ms;
	-webkit-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-timing-function: step-start;
	-o-animation-timing-function: step-start;
	animation-timing-function: step-start;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes girl-rotate{
	0%{
		background-position: -604px 0px;
	}
	16.7%{
		background-position: -151px 0px;
	}
	33.4%{
		background-position: -906px 0px;
	}
	50.1%{
		background-position: 0px 0px;
	}
	66.8%{
		background-position: -302px 0px;
	}
	83.5%{
		background-position: -453px 0px;
	}
	100%{
		background-position: -604px 0px;
	}
}
@-moz-keyframes girl-rotate{
	0%{
		background-position: -604px 0px;
	}
	16.7%{
		background-position: -151px 0px;
	}
	33.4%{
		background-position: -906px 0px;
	}
	50.1%{
		background-position: 0px 0px;
	}
	66.8%{
		background-position: -302px 0px;
	}
	83.5%{
		background-position: -453px 0px;
	}
	100%{
		background-position: -604px 0px;
	}
}
/* 桥 */
.bridge-bottom{
	position: absolute;
	width: 41%;
	height: 24%;
	left:29.5%;
	top: 76%;
	overflow: hidden;
	/* -webkit-transform:perspective(8px) rotateX(.8deg); */
}
/* 波浪水 布局 */
.water{
	width: 100%;
	height: 100%;
}
.water_1, .water_2, .water_3, .water_4{
	width: 100%;
	position: absolute;
	height: 50%;
	background: url(../images/water.png) no-repeat;
	/* 动画名称 */
	-webkit-animation-name: snake;
	-o-animation-name: snake;
	animation-name: snake;
	/* 动画时间 */
	-webkit-animation-duration: 40s;
	-o-animation-duration: 40s;
	animation-duration: 40s;
	/* ? */
	-webkit-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;
	/* 播放次数 */
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/* 动画方式 */
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
	
}
.water_1{
	width: 131px;
	height: 15px;
	top:13%;
	left: 35%;
	background-position: -261px 0px;
}
.water_2{
	width: 161px;
	height: 9px;
	top: 30%;
	left: 45%;
	background-position: -693px 0px;
	/* 动画延迟时间 */
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.water_3{
	width: 261px;
	height: 29px;
	top:50%;
	left: 15%;
	background-position: 0px 0px;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.water_4{
	width: 301px;
	height: 12px;
	top: 75%;
	left: 30%;
	background-position: -392px 0px;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
@-webkit-keyframes snake{
	0%, 100%{
		-webkit-transform:translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90%{
		-webkit-transform:translate3d(-30px, 0px, 0);
	}
	20%, 40%, 60%, 80%{
		-webkit-transform:translate3d(30px, 0px, 0);
	}
}
@-moz-keyframes snake{
	0%, 100%{
		-webkit-transform:translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90%{
		-webkit-transform:translate3d(-30px, 0px, 0);
	}
	20%, 40%, 60%, 80%{
		-webkit-transform:translate3d(30px, 0px, 0);
	}
}

/* 星星 */
.stars{
	width: 100%;
	height: 100%;
	position: absolute;
}
.stars > li{
	position: absolute;
	width: 30px;
	height: 31px;
	background: url(../images/stars.png) no-repeat;
	/* 动画名称 */
	-webkit-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
	/* 播放方式 */
	-webkit-animation-timing-function: ease-in-out;
	-o-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	/* 播放次数 */
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/* ? */
	-webkit-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;

}
.stars1{
	top:20%;
	left: 30%;
	-webkit-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
}
.stars2{
	top:15%;
	left: 20%;
	-webkit-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
}
.stars3{
	top: 25%;
	left: 85%;
	-webkit-animation-duration: 6s;
	-o-animation-duration: 6s;
	animation-duration: 6s;
}
.stars4{
	top: 30%;
	left: 70%;
	-webkit-animation-duration: 7s;
	-o-animation-duration: 7s;
	animation-duration: 7s;
}
.stars5{
	top: 25%;
	left: 20%;
	-webkit-animation-duration: 6s;
	-o-animation-duration: 6s;
	animation-duration: 6s;
}
.stars6{
	top: 10%;
	left: 65%;
	-webkit-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
}
@-webkit-keyframes flash{
	0%, 50%, 100%{
		opacity: 1;
	}
	25%, 75%{
		opacity: 0;
	}
}
@-moz-keyframes flash{
	0%, 50%, 100%{
		opacity: 1;
	}
	25%, 75%{
		opacity: 0;
	}
}
/* logo */
.logo{
	width: 185px;
	height: 62px;
	background: url(../images/logo.png) no-repeat;
	z-index: 99999;
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -92.5px;
	display: none;
}
.logolightSpeedIn{
	display: block;
	-webkit-animation-name: lightSpeedIn;
	-o-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
@-webkit-keyframes lightSpeedIn{
	0%{
		-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0;
	}
	60%{
		-webkit-transform: skewX(20deg);
		opacity: 1;
	}
	80%{
		-webkit-transform: skewX(-5deg);
		opacity: 1;
	}
	100%{
		-webkit-transform: none;
		opacity: 1;
	}
}
@-moz-keyframes lightSpeedIn{
	0%{
		-moz-transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0;
	}
	60%{
		-moz-transform: skewX(20deg);
		opacity: 1;
	}
	80%{
		-moz-transform: skewX(-5deg);
		opacity: 1;
	}
	100%{
		-moz-transform: none;
		opacity: 1;
	}
}
.logoshake{
	-webkit-animation-name: logoshake;
	-o-animation-name: logoshake;
	animation-name: logoshake;
	-webkit-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
@-webkit-keyframes logoshake{
	0%, 100%{
		-webkit-transform: translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90%{
		-webkit-transform: translate3d(-5px, 0, 0);
	}
	20%, 40%, 60%, 80%{
		-webkit-transform: translate3d(10px, 0, 0);
	}
}
@-moz-keyframes logoshake{
	0%, 100%{
		-moz-transform: translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90%{
		-moz-transform: translate3d(-5px, 0, 0);
	}
	20%, 40%, 60%, 80%{
		-moz-transform: translate3d(10px, 0, 0);
	}
}

/* 雪花 */
#snowflake{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
}
.snowRoll{
	position: absolute;
	opacity: 0
	-webkit-animation-name: mysnow;
	-o-animation-name: mysnow;
	animation-name: mysnow;
	-webkit-animation-duration: 20s;
	-o-animation-duration: 20s;
	animation-duration: 20s;
	height: 80px;
}
@-webkit-keyframes mysnow{
	0%{
		bottom: 100%;
	}
	50%{
		-webkit-transform: rotate(1080deg);
	}
	100%{
		-webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
	}
}
@-moz-keyframes mysnow{
	0%{
		bottom: 100%;
	}
	50%{
		-moz-transform: rotate(1080deg);
	}
	100%{
		-moz-transform: rotate(0deg) translate3d(50px, 50px, 50px);
	}
}