/* 背景图 */
.b_background{
	width: 100%;
	height: 100%;
	background-image: url(../images/QixiB-dark.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
}
.b_background_preload{
	background: url(../images/QixiB-dark.png) no-repeat -9999px -9999px;
}
.lamp-bright{
	background-image: url(../images/QixiB-bright.png);
}

/* 商店 */
.shop{
	width: 39.5%;
	height: 35.5%;
	position: absolute;
	left: 29%;
	top:36.5%;
}
.door{
	position: absolute;
	width: 32%;
	top:32%;
	height: 68%;
	overflow: hidden;
	left:58.5%;
}
.door-left, .door-right{
	width: 50%;
	height: 100%;
	position: absolute;
}
.door-left{
	background-image: url(../images/door-left.png);
	left:0%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.door-right{
	background-image: url(../images/door-right.png);
	left: 50%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

/* 鸟 */
.bird{
	min-width: 91px;
	min-height: 71px;
	top:10%;
	position: absolute;
	z-index: 10;
	right: -91px;
	background: url(../images/bird.png) -182px 0px no-repeat;
}
.birdFly{
	/* 动画名称 */
	-webkit-animation-name: bird-slow;
	-o-animation-name: bird-slow;
	animation-name: bird-slow;
	/* 动画时间 */
	-webkit-animation-duration: 400ms;
	-o-animation-duration: 400ms;
	animation-duration: 400ms;
	/* 播放次数 */
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/* 切换方式 */
	-webkit-animation-timing-function: step-start;
	-o-animation-timing-function: step-start;
	animation-timing-function: step-start;
}
/* 鸟飞的动作 */
@-webkit-keyframes bird-slow{
	0%{
		background-position: -182px 0px;
	}
	50%{
		background-position: 0px 0px;
	}
	75%{
		background-position: -91px 0px;
	}
	100%{
		background-position: -182px 0px;
	}
}
@-moz-keyframes bird-slow{
	0%{
		background-position: -182px 0px;
	}
	50%{
		background-position: 0px 0px;
	}
	75%{
		background-position: -91px 0px;
	}
	100%{
		background-position: -182px 0px;
	}
}